---
layout: default
---


<!-- Section -->
<section>
	<header class="major">
		<h2>Recent Posts</h2>
	</header>


<!-- Posts -->

	<div class="posts">
		{% for post in paginator.posts %}
		<article>
			<h2>{{ post.title }}</h2>
			<time datetime="{{ post.date | date_to_xmlschema }}" class="by-line">{{ post.date | date_to_string }}</time>
			<p>{{ post.content | strip_html | truncatewords:50 }}</p>
			 <ul class="actions">
				 <li><a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}" class="button">More</a></li>
			 </ul>	
		 </article>
		{% endfor %}

	</div>
	<br>
	
	<ul class="actions vertical">
	<li>
		<a href="#" class="button fit">Load More Posts...</a> 
	</li>
	</ul>
</section>   


