<!-- Banner -->
  <section id="banner">
    <div class="content">
        <header>
          <h3>Welcome.!!</h3>
        </header>  
        <p>
          I’m your host, Akash Jadhav, responsible for just about everything on this site. I would like to introduce myself as:
      <ul>        
        <li>Programmer</li>
        <li>Chess Lover</li>
        <li>Data science & Machine Learning Enthusiast</li>
      </ul>
        This blog mainly aims at providing information and tutorials of differnt programming languages & platforms.
        I hpoe you will enjoy the blog posts.!!
       </p>
    </div>
    <span class="image object">
      <img src="assets/images/banner.jpg" alt="" />
    </span>
  </section>
