
<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">
      
      <!-- Menu -->
        <nav id="menu">
          <header class="major">
            <h2>Menu</h2>
          </header>
          <ul>
              <li><a href="{{ '' | absolute_url }}">Homepage</a></li>
            <li>
              <span class="opener">Categories</span>
              <ul>
                <li><a href="/category/Maths Tutorials.html"> Maths for Data Science </a></li>
                <li><a href="/category/R Tutorials.html"> R Tutorials </a></li>
                <li><a href="/category/Python Tutorials.html">Python Tutorials </a></li>
              </ul>
            </li>
          </ul>
        </nav>

<!--  Tags -->
        <section>
          <header class="major">
            <h2>Tags</h2>
          </header>
{% capture temptags %}
  {% for tag in site.tags %}
    {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
  {% endfor %}
{% endcapture %}
{% assign sortedtemptags = temptags | split:' ' | sort | reverse %}
<ul class="actions small">  
{% for temptag in sortedtemptags %}
  {% assign tagitems = temptag | split: '#' %}
  {% capture tagname %}{{ tagitems[1] }}{% endcapture %}
  <li><a href="/tag/{{ tagname }}" class="button small"><nobr>{{ tagname }}</nobr></a></li>
{% endfor %}          
</ul>          
</section>
      
  
  <section>
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://github.us17.list-manage.com/subscribe/post?u=6f86671c44fdb0978c52ea2e6&amp;id=a779dd907b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Subscribe to our mailing list</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6f86671c44fdb0978c52ea2e6_a779dd907b" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="clear"></div>
    </div>
</form>
</div>
<!--End mc_embed_signup-->
</section>
 

      
 <!--      Section -->
        <section>
          <header class="major">
            <h2>Get in touch.</h2>
          </header>
          <p>
            Thanks for your visit to the blog.!!
            If you have any suggestions or queries, please contact me.  
          </p>
          <ul class="contact">
            <li class="fa-envelope-o"><a href="#">{{ site.email }}</a></li>
           </ul>
        </section>

      <!-- Footer -->
        <footer id="footer">
          <p class="copyright">&copy; <a href="{{ '' | absolute_url }}">{{ site.title }}</a>. All rights reserved.<br> Powered by Jekyll Themes.</p>
        </footer>

    </div>
  </div>
