---
layout: archive_posts
---
<!-- Section -->
<section>
	<header class="major">
		<h2>{{ page.category }}</h2>
	</header>
</section>
<!-- Posts -->
	<div class="table-wrapper">   
	   <table class="alt">
	       <thead>
		  <tr>
		   <th>Sr no.</th>
		   <th>Title</th>
		   <th>Date</th>
		  </tr>
		</thead>
		   {% assign count = 0 %}
    {% for post in site.categories[page.category] %}
		    {% assign count = count | plus: 1 %}
		   <tbody>
			<tr>
			  <td>{{ count }}</td>
			  <td><a href="{{ post.url | absolute_url }}"> {{ post.title }} </a></td>
			  <td><time datetime="{{ post.date | date_to_xmlschema }}" class="by-line">{{ post.date | date_to_string }}</time></td>
			</tr>
		   </tbody>		
    {% endfor %}
  </table>
</div>
