---
layout: archive_posts
---
<!-- Section -->
<section>
	<header class="major">
		<h2>{{ page.category }}</h2>
	</header>

<!-- Posts -->
	<div class="table-wrapper">   
	   <table class="alt">
	       <thead>
		  <tr>
		   <th>Title</th>
		   <th>Date</th>
		  </tr>
		</thead>
    {% for post in site.categories[page.category] %}
		   <tbody>
			<tr>
			  <td><a href="{{ post.url | absolute_url }}"> {{ post.title }} </a></td>
			  <td><time datetime="{{ post.date | date_to_xmlschema }}" class="by-line">{{ post.date | date_to_string }}</time></td>
			</tr>
		   </tbody>	
		</table>
	</div>
    {% endfor %}
